body {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	height: 100dvh;
}

main {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

canvas {
	border: 1px solid black;
	height: 480px;
	width: 640px;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #e8f7ff;
}

canvas {
	background: #c2e0ff;
	border: 1px solid rgb(175, 67, 67);
	height: 480px;
	width: 640px;
}

.game-title {
	text-align: center;
	font-size: 60px;
	font-family: Arial, sans-serif;
	color: #d04848;
	margin-top: 20px;

	text-shadow:
		2px 2px 0 #a22d2d,
		4px 4px 8px rgba(0, 0, 0, 0.4);
}

body {
	font-family: Arial, sans-serif;

	margin: 0;

	background: #e8f7ff;

	text-align: center;
}

.title {
	background: linear-gradient(#87ceeb, #bde7ff);
	padding: 40px;
}

.title h1 {
	font-size: 60px;
	color: #e63946;
}

.title p {
	font-size: 20px;
}

section {
	background: white;
	margin: 30px auto;
	padding: 25px;
	width: 70%;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

h2 {
	color: #a3272b;
}

ul {
	text-align: left;
	display: inline-block;
}
